
# Configuracion local de Visual Studio Code
.vscode/
# Archivos de apoyo
*.docx
*.pptx
*.pdf
*.drawio

# Editores
.vscode/
.idea/
*.swp
*~

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Sistema
.DS_Store
Thumbs.db